[Desktop Entry]
Name=HyVanila
Comment=A modern launcher for Hytale
Exec=HyVanila
Icon=dev.hyvanila.HyVanila
Terminal=false
Type=Application
Categories=Game;
Keywords=hytale;launcher;gaming;mods;
StartupWMClass=HyVanila
StartupNotify=true
